body{
	background-image: url(../img/pozadi.jpg);
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
}

.obal{
	margin: 0 auto;
	margin-top: 200px;
	width: 1000px;
	
}



.obsah{
	width: 1000px;
	height: 500px;
	background: rgba(0, 0, 0, .5);
	padding: 10px;
}



.ikona-link {
  display: inline-block;
  padding: 2px;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out; }
  .ikona-link:hover {
	background-color: #4ae;
	transition: none;
}

.ikona {
  width: 8rem;
  
  border-radius: 4px; 
  }


